# Build outputs
bin/
obj/

# Visual Studio / VS Code / CLion
.vs/
.vscode/
.clion/

# Rider / IntelliJ
.idea/
*.sln.iml
*.DotSettings.user

# User-specific
*.user
*.suo

# NuGet
*.nuget.g.props
*.nuget.g.targets
project.assets.json
project.nuget.cache

# Logs
*.log
